*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body, html {
  background-color:#8CA096 ;
  font-family: 'Oswald', sans-serif;
  
}

.name{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-bottom: 3px solid #eee;
  padding: 1em;
  background-color: #ffff;
  text-align: center;
}

.name h1{
  font-size: 2rem;
  color: #16221E;
}
.name p{
  font-size: 1.2rem;
}
span{
  color: goldenrod ;
}


.image-container{
  width: 80%;
  height: 50vh;
  margin: auto;
}
.image-container img{
  width: 100%;
  height: 100%;
  margin: auto;
}
.section3{
  width: 90%;
  margin: auto;
  position: relative;
  color: #fff;
  font-size: 1.2rem;
  padding-bottom: 2em;
}
.section3 h2{
  text-align: center;
  margin-top: 1.5em;
}
.section3 img{
  width: 25%;

}
.upquote{
  position: relative;
  top: 2rem;
  left: -1.5rem;
}
.downquote{
  position: absolute;
    bottom: 1rem;
    right: -1.2rem;
    transform: rotate(180deg);
}

@media screen and (min-width: 375px) {
  .upquote{
      left: -2rem;
  }
  .downquote{
    right:-1.4rem ;
  }

  @media screen and (min-width: 400px) {
    .section3{
      width: 80%;
    }
    .upquote{
      top: 2.5rem;
      left: -2.3rem;
  }
  .downquote{
    right:-1.9rem ;
  }

  }


  
  @media screen and (min-width: 560px) {
    .section3{
      width: 75%;
    }
    .upquote{
      top: 3.5rem;
      left: -2.7rem;
  }
  .downquote{
    right:-2.9rem ;
    bottom: .5rem;
  }

  }

   
  @media screen and (min-width: 768px) {
    .section3{
      width: 70%;
    }
    .upquote{
      top: 4rem;
      left: -3.9rem;
  }
  .downquote{
    right:-3.3rem ;
    bottom: .1rem;
  }

  }

  @media screen and (min-width: 1024px) {
    .section3{
      width: 50%;
      padding-bottom: 0;
      /* margin-bottom: -20em; */
    }
    .section3 h2{
      font-size: 3rem ;
      margin-bottom: -1em;
    }
    .section3 p{
      font: size 3.5rem; 
    }
    .upquote{
      top: 5rem;
      left: -4.3rem;
  }
  .downquote{
    right:-3.3rem ;
    bottom: -2rem;
  }

    .image-container{
       height: 78vh;
  
  } 


  }




