
}
h1 {
    font-size: large; font-style: oblique;
    
}

section{
    width:90vw
    border

    height:50vh
    background colour 

}

section> img {
    border:50pxsolid crimson
    margin: 30px
    

}