* {
    box-sizing: border-box;

}

body {
    color: black;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(200, 160, 238);
    margin: 0;
    padding: 0;
}

h1 {
    background-color: #161515;
    color: #c095e7;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 600;
    padding: 1.5rem;
    margin: 0;
}

img {
    height: 450px;
    margin: 20px 0;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 33%;
}

blockquote {
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    text-align: start;
}

cite {
    font-size: 1.5rem;
    font-weight: bold;
}